<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HedgehogDevelopment.SitecoreProject.Service.Configuration" type="HedgehogDevelopment.SitecoreProject.Service.ServiceConfiguration, HedgehogDevelopment.SitecoreProject.Service" requirePermission="false" />
  </configSections>
  <HedgehogDevelopment.SitecoreProject.Service.Configuration accessGuid="96369e76-bbbf-4f54-aff0-c7deb39907c7" />
	<system.web>
		<httpRuntime executionTimeout="6000"/>
	</system.web>
</configuration>
